.result-box.svelte-1uha8ag{border:2px dashed var(--fir-green)}section.svelte-1uha8ag{padding-top:100px}.accordion-button.svelte-1uha8ag:not(.collapsed){background-color:var(--accent-soft);color:var(--fir-green)}
